body {
  font: 100% Helvetica, sans-serif;
  color: #333;
}

.navbar-brand {
  color: red;
}

section {
  height: 100vh;
}

nav {
  height: 10vh;
  background-color: white;
}

.masthead {
  background-color: black;
  margin-top: -10vh;
  padding-top: 10vh;
  padding-bottom: -10vh;
  background-image: url("/img/potpeinture.jpg");
}

